.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.recentTW {
  width: 460px;
}

.spendingC {
  width: 560px;
}

.padding-right-sm {
  padding-right: 10px;
}

.padding-right-med {
  padding-right: 30px;
}

.padding-right-meds {
  padding-right: 55px;
}

.header-width {
  width: 450px;
}

.logoSize {
  width: 100px;
}

.container {
  max-width: 1800px;

  /* margin: 0 auto;
  padding: 0 1.5rem; */
}

@media screen and (min-width: 768px) {
  .container {
    /* width: 500px; */

    /* max-width: 1600px */
  }

  /* To show the mobile version on Chrome. */
  .hiddenInDesktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  thead,
  /* To hide the desktop List.*/
  .hiddenInMobile {
    display: none;
  }

  .container {
    min-width: 520px;
  }
}
