.flex {
  display: flex;
}

.overflow {
  overflow: auto;
}

.align-self-c {
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.transaction-p {
  padding-left: 42px;
}

/* Width of Body, Recent transactions */
.recentTW {
  width: 40%;
  height: 100%;
}

/* Width of Body, Spending Chart */
.spendingC {
  width: 40%;
}

/* Set width of the header nav-bar */

/* .header-width {
  width: 45%;
} */

/* Size of Logo */
.logoSize {
  width: 30%;
}

/* Create a transaction box */
.transactionPosition {
  position: relative;
  top: 8%;
  left: 12%;
  width: 75%;
  height: 50%;
}

/* Credit/Debit Page CSS */

/* Dimension of create debit/credit container */

/* .ctcontainer {
  height: 1000px;
  width: 1470px;
} */

/* Size of the box of credit/debit */
.cdPosition {
  position: relative;
  top: 8%;
  left: 12%;
  width: 75%;
  height: 50%;
}

.dbPosition {
  position: relative;
  top: 8%;
  left: 12%;
  width: 75%;
  height: 50%;
}

@media screen and (min-width: 768px) {
  /* To hide the desktop List.  */
  canvas {
    height: 500px;
    width: 200px;
  }
}

/* Size of the Transactions container */
.transactionHistory {
  width: 98%;
  height: 85%;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 620px;
    min-height: 97vh;
  }
}
