#root {
  background-color: #1f2933;
}
table {
  background-color: #486581 ;
}

tr:hover {
  background-color: #3e4c59;
  color: #deedf0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: ease 1.8s;
}

a:hover {
  transform: scale(1.18);
}

.deleteBut {
  opacity: 0;
}

.btn {
  height: 58px;
  width: 100px;
  font-size: 1.5rem;
  background-color: #486581;
  outline: none;
  transition: ease 2.0s;
}

.btn:hover {
  transform: scale(1.2)
}

.rt {
  transition: ease 1.8s;
}

.rt:hover {
  transform: scale(1.1)
}

.catName {
  width: 50%;
}

.categories : div {
  max-width: 445px;
}

.deleteBut{
  opacity: 0;
  transition: ease 1;
}

.deleteBut:hover {
  opacity: unset;
}

.transactions:hover,
.categories:hover {
  transform: scale(1.04);
  transition: ease 1s;
}

img {
  transform: scale(1.1);
  transition: ease 1.3s;
}

.desktopBody {
  background-color: #3e4c59;
}

input,
textarea {
  resize: none;
  outline: none;
}


.creditButton {
  background-color: #486581;
}

.btn:hover {
  background-color: #3e4c59;
}

#budgetBtn {
  background-color: #486581;
  height: 75px;
  width: 300px;
}

#budgetBtn:hover {
  background-color: #3e4c59;
}

input textarea .input-row-1 {
  max-width: 450px;
}

input {
  background-color: #486581;
}

input:focus {
  background-color: #486581;
}

.desktopSecondary,
.inputBackground {
  background-color: #486581;
}

.logoIcon {
  color: #03dac5;
}

.dmTextColor {
  color: #deedf0;
}

.dmPositiveColor {
  color: #7afa87;
}

.dmNegativeColor {
  color: #fb8686;
}

.text-header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.numbers {
  font-family: 'Ubuntu', sans-serif;
}

.text-end {
  text-align: end;
}

.hiddenPrac {
  display: none;
}

canvas {
  height: 500px;
  width: 200px;
}
